.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  background-color: aquamarine;
}
